<header class="site-header">
  <a class="brand" href="/" aria-label="Générations Médecins Île-de-France">
    {{ $svg := readFile "static/logoGM-dense.svg" }}
    {{ $svg = replace $svg "%PRIMARY-DARK%" "var(--primary-dark)" }}
    {{ $svg = replace $svg "%ACCENT-LIGHTER%" "var(--accent-lighter)" }}
    {{ $svg | safeHTML }}
    <span class="brand-text-primary">Générations</span>
    <span class="brand-text-accent">Médecins</span>
  </a>
  <nav class="site-nav" aria-label="Navigation principale">
    <ul class="nav">
      <li><a href="/">Accueil</a></li>
      <li><a href="/decrypteurs">Décrypteurs</a></li>
      <li><a href="/observatoire">Observatoire</a></li>
      <li><a href="/plaidoyer">Plaidoyer</a></li>
      <li class="has-submenu">
        <a href="/outils">Outils</a>
        <ul class="submenu">
          <li><a href="/outils/simulateurs">Simulateurs</a></li>
          <li><a href="/outils/modeles">Bibliothèque de modèles</a></li>
          <li><a href="/outils/sos">SOS Juridique</a></li>
          <li><a href="/outils/annonces">Petites annonces</a></li>
          <li><a href="/outils/greve">Médecins en grève</a></li>
          <li><a href="/outils/elus">Carte des élus</a></li>
        </ul>
      </li>
      <li><a href="/bureau">Bureau</a></li>
      <li><a href="/referendum">Référendum</a></li>
      <li><a href="/omerta">Omerta</a></li>
    </ul>
  </nav>
</header>
